<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Header-->
    <h3>North Carolina State University</h3>
    <h6>Southeastern Plant Environment Laboratories</h6>
    <h6>Invoice for Services Rendered</h6>

</head>
<body>
<!--Invoice Page START-->
<div layout="column">
    <!--Invoice and Project Details-->

    <p>
        <b>Phytotron ID:</b> A020201                        <b>Invoice #:</b> {{selectedInvoice.invoice_id}}<br>
        <b>Preparation Date:</b> {{selectedInvoice.generation_date}}<br>
        <b>Billing Interval:</b> {{selectedInvoice.bill_start_date}}    -    {{selectedInvoice.bill_end_date}}<br>
        <b>Project ID:</b> {{selectedInvoice.project_id}}    <b>Project Title:</b> {{selectedInvoiceProject.project_title}}<br>
        <b>Project Duration:</b> {{selectedInvoiceProject.project_start_date}}    -    {{selectedInvoiceProject.project_end_date}}<br>
    </p>
    <br>
    <!-- Client Details-->
    <b>In Account With: </b>
    <table>
        <thead>
        <th>Client Name</th>
        <th>Department Name</th>
        <th>Address</th>
        </thead>
        <tbody>
        {{#each selectedInvoiceProject.clients}}
            <tr>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{department}}</td>
                <td>{{address}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br>

    <!-- Chamber Bill Cost Details -->
    <div ng-hide="$ctrl.selectedInvoice.chamber_usage_cost.length==0">
        <b>Chamber Usage:</b>
        <table>
            <thead>
            <th>Chamber Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Chamber Rate</th>
            <th>Chamber Cost</th>
            </thead>
            <tbody>
            {{#each selectedInvoice.chamber_usage_cost}}
            <tr>
                <td>{{chamber_name}}</td>
                <td>{{start_date}}</td>
                <td>{{end_date}}</td>
                <td>{{chamber_rate}}</td>
                <td>{{chamber_cost}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <br>
    </div>


    <!--Additional Resource Cost Details -->
    <div ng-hide="$ctrl.selectedInvoice.additional_resource_cost.length==0">
        <b> Additional Resources Usage:</b>
        <table>
            <thead>
            <th>Resource Name</th>
            <th>Unit Rate</th>
            <th>Units Consumed</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Comments</th>
            <th>Resource Cost</th>
            </thead>
            <tbody>
            {{#each selectedInvoice.additional_resource_cost}}
            <tr>
                <td>{{resource_name}}</td>
                <td>{{unit_rate}}</td>
                <td>{{units_consumed}}</td>
                <td>{{start_date}}</td>
                <td>{{end_date}}</td>
                <td>{{description}}</td>
                <td>{{comments}}</td>
                <td>{{resource_cost}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <br>
    </div>


    <!--Cost Split -->
    <p>Bill Amount: {{selectedInvoice.bill_amount}}    Adjustments: {{selectedInvoice.adjustments}}    Discounts: {{selectedInvoice.discounts}}    Total Amount: {{selectedInvoice.total_amount}}</p>
    <br>

    <!--Footer-->
    <p>
        Please make check payable to: <b>North Carolina State University</b><br>
        <br>
        Remit with one (1) copy of this invoice to:<br>
        <br>
        North Carolina State University<br>
        Office of Finance and Business, Box 7201<br>
        Raleigh, North Carolina 27695-7201<br>
        <br>
        Business Office<br>
        <br>
        Deposit Check to: North Carolina Agricultural Research Service<br>
        Misc. Rec. -- Phytotron Revenue Code No. 4-16952-0791
    </p>

</div>
<!--Invoice Page END-->
</body>
</html>
