<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: transparent
        }
        .table td,
        .table th {
            background-color: #fff!important
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #e9ecef
        }
        .table tbody+tbody {
            border-top: 2px solid #e9ecef
        }
        .table .table {
            background-color: #fff
        }
        .text-left {
            text-align: left!important
        }
        .text-right {
            text-align: right!important
        }
        .text-center {
            text-align: center!important
        }
    </style>
    <meta charset="UTF-8">
</head>
<body>
<!--Invoice Page START-->
<div>
    <!--Header-->
    <div class="text-center">
        <b>North Carolina State University</b><br>
        Southeastern Plant Environment Laboratories<br>
        Invoice for Services Rendered<br>
    </div>

    <!--Invoice and Project Details-->
    <table class="table">
        <thead>
        <th><b>Phytotron ID:</b> {{selectedInvoice.phytotron_id}}</th>
        <th><b>Invoice #:</b> {{selectedInvoice.invoice_id}}</th>
        </thead>
        <tbody>
        <tr>
            <td><b>Preparation Date:</b> {{generation_date}}</td>
            <td><b>Billing Interval:</b> {{bill_start_date}} - {{bill_end_date}}</td>
        </tr>
        <tr>
            <td><b>Project ID:</b> {{selectedInvoice.project_id}}</td>
            <td><b>Project Title:</b> {{selectedInvoice.project_title}}</td>
        </tr>
        <tr>
            <td><b>Project Duration:</b> {{selectedInvoice.project_start_date}} - {{selectedInvoice.project_end_date}}<br></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <!-- Client Details-->
    <table class="table">
        <thead>
        <th>In Account With:</th>
        <th>Department Name</th>
        <th>Address</th>
        </thead>
        <tbody>
        {{#each selectedInvoice.clients}}
            <tr>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{department}}</td>
                <td>{{address}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <!-- Chamber Bill Cost Details -->
    {{#if selectedInvoice.chamber_usage_cost.length}}
        <table class="table">
            <thead>
            <th>Chamber Name</th>
            <th>Carts</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Days Used</th>
            <th>Rate</th>
            <th>Cost</th>
            </thead>
            <tbody>
            {{#each selectedInvoice.chamber_usage_cost}}
                <tr>
                    <td>{{chamber_name}}</td>
                    <td>{{carts_allocated}}</td>
                    <td>{{start_date}}</td>
                    <td>{{end_date}}</td>
                    <td>{{usage_days}}</td>
                    <td>{{chamber_rate}}</td>
                    <td>{{chamber_cost}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}

    <!--Additional Resource Cost Details -->
    {{#if selectedInvoice.additional_resource_cost.length}}
        <table class="table">
            <thead>
            <th>Resource Name</th>
            <th>Rate</th>
            <th>Units</th>
            <!--
            <th>Start Date</th>
            <th>End Date</th>
            <th>Days Used</th>
            -->
            <th>Description</th>
            <th>Comments</th>
            <th>Cost</th>
            </thead>
            <tbody>
            {{#each selectedInvoice.additional_resource_cost}}
                <tr>
                    <td>{{resource_name}}</td>
                    <td>{{unit_rate}}</td>
                    <td>{{units_consumed}}</td>
                    <!--
                    <td>{start_date}}</td>
                    <td>{end_date}}</td>
                    <td>{usage_days}}</td>
                    -->
                    <td>{{description}}</td>
                    <td>{{comments}}</td>
                    <td>{{resource_cost}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}

    <!--Cost Split -->
    <table class="table">
        <thead>
        <th>Bill Amount</th>
        <th>Adjustments</th>
        <th>Discounts</th>
        <th>Total Amount</th>
        </thead>

        <tbody>
        <tr>
            <td>{{selectedInvoice.bill_amount}}</td>
            <td>+ {{selectedInvoice.adjustments}}</td>
            <td>- {{selectedInvoice.discounts}}</td>
            <td>= {{selectedInvoice.total_amount}}</td>
        </tr>
        </tbody>
    </table>

    <!--Invoice Amount Distribution-->
    <table class="table">
        <thead>
        <th>Client Name</th>
        <th>Account #</th>
        <th>Amount</th>
        </thead>
        <tbody>
        {{#each selectedInvoice.invoice_amount_distribution}}
            <tr>
                <td>{{client_first_name}} {{client_last_name}}</td>
                <td>{{account_number}}</td>
                <td>{{share_amount}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


    <br>
    <!--Footer-->
    <div class="text-center">
        Please make check payable to: <b>North Carolina State University</b><br>
        Remit with one (1) copy of this invoice to:<br>
        <br>
        North Carolina State University<br>
        Office of Finance and Business, Box 7201<br>
        Raleigh, North Carolina 27695-7201<br>
        <br>
        Business Office<br>
        Deposit Check to: North Carolina Agricultural Research Service<br>
        Misc. Rec. -- Phytotron Revenue Code No. 4-16952-0791
    </div>
</div>
<!--Invoice Page END-->
</body>
</html>
